body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #841818;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(176, 0, 0);
}

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

button {
    margin-top: 10px;
    cursor: pointer;
}
